<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="studb" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=STUDENT_MGMT;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"
      providerName="System.Data.SqlClient" />
    <add name="ADONETPROJ.Properties.Settings.STUDENT_MGMTConnectionString"
      connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=STUDENT_MGMT;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    
  </connectionStrings>
</configuration>